


<p *ngIf="!jugadores"><em>Loading...</em></p>
<div *ngIf="jugadores">


  <div class="grid-container" *ngFor="let jugador of jugadores">
    <div class="item1"> {{ jugador.identificacion}}</div>

   
         <div class="item2"><img width="100" height="100" src="https://previews.123rf.com/images/tnn103eda/tnn103eda1703/tnn103eda170300007/73489700-jugador-de-f%C3%BAtbol-profesional-de-f%C3%BAtbol-en-acci%C3%B3n-aislado-fondo-blanco.jpg"></div>
      <div class="item3">
        <div>
          <h1> {{ jugador.nombre}} {{ jugador.apellidos}}</h1>
          <h1>{{ jugador.fechaNacimiento}}</h1>
        </div>



      
    </div>



  </div>













