<div class="row form-group">
  <div class="col-xs-5">
    <label>Identificador</label>
    <input type="text" [(ngModel)]="identificador" (input)="buscarJuego()" />
  </div>

</div>


<!-- Introduction -->
<section id="second" class="main">
  <div class="spotlight">
    <div class="content">
      <div class="row form-group">
        <div class="col-xs-5">
          <label>Identificador</label>
          <input type="text" [(ngModel)]="identificador" />
        </div>

      </div>
      <div class="row form-group">
        <div class="col-xs-5">
          <label>Campeonato</label>
          <input type="text" [(ngModel)]="identificadorCampeonato" />
        </div>

      </div>
      <div class="row form-group">
        <div class="col-xs-5">
          <label>EquipoA</label>
          <input type="text" [(ngModel)]="equipoA" />
        </div>

      <br />
      <button class="btn btn-lg btn-primary btn-block" (click)="buscarJuego()" onclick="alert('Actualización de juego Exitosa!')"
              type="submit">
        Actualizar
      </button>
    </div>
  </div>
</section>
